.coupon-filter{
    display: flex;
    width: max-content;
    justify-self: center;
    align-items: center;
    padding: 30px 60px;
    background-color: $bgc-box;
    gap: em(30px);
    margin-bottom: em(20px);
}