.form-container {
    display: flex;
    flex-direction: column;
    min-width: em(300px);
    
    h2{
        margin-bottom: em(20px);
    }
    .coupon-form {
        width: 30vw;
    }

    .form-actions {
        display: flex;
        justify-self: end;
        gap: em(10px);
        margin-bottom: em(15px);
    }

    .joined-input-container {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;

        &>* {
            flex: 1;
        }
    }

    button[type="submit"],
    button[type="button"] {
        padding: em(8px) em(16px);
        font-size: 1em;
        border: none;
        border-radius: em(4px);
        cursor: pointer;
        transition: background-color 0.2s ease;
    }

    input[type="checkbox"] {
        padding: 0;
        width: em(38px);
        border: none;
        border-radius: em(4px);
        cursor: pointer;
        transition: background-color 0.2s ease;
    }

    button[type="submit"] {
        background-color: $clr-green;
        color: white;

        &:hover {
            background-color: darken($clr-green, 10%);
        }
    }

    button[type="button"] {
        background-color: gray;
        color: white;

        &:hover {
            background-color: darken(gray, 10%);
        }
    }
}