.custom-input {
    position: relative;
    margin-bottom: 1.5em;
    white-space: nowrap;

    label {
        display: flex;
        flex-direction: column;
        color: $txt-clr;
        gap: 0.3em;
        font-size: 0.95em;

    }

    .isStackable {
        align-items: center;
    }

    input,
    select {
        padding: 0em 1em;
        border-radius: 0.4em;
        height: 2.5em;
        color: $txt-clr;
        outline: none;
        border: 1px solid $bgc-box;
        transition: all 0.2s ease-in-out;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        font-size: 1em;
        font-family: p-regular;

        &.error {
            border: 1px solid red;

            &:hover {
                border-color: red;
            }

            &:focus {
                border-color: red;
                box-shadow: none;
            }
        }

        &:hover {
            border-color: $bgc-box;
        }

        &:focus {
            border-color: $clr-green;
            box-shadow: 0 0 0 2px rgba($clr-green, 0.3);
        }
    }

    select,
    input[type="date"],
    input[type="checkbox"] {
        color: $txt-clr;
        cursor: pointer;
        font-family: p-regular;
    }
}

.error-message {
    position: absolute;
    bottom: -1.2em;
    left: 0;
    transform: translate(0, 100%);
    color: red;
    font-size: 0.8em;
    margin-top: 0.3em;
}