// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: l-bold;
    src: url(/src/assets/styles/fonts/Livvic/Livvic-Bold.ttf);
}

@font-face {
    font-family: l-semibold;
    src: url(/src/assets/styles/fonts/Livvic/Livvic-SemiBold.ttf);
}