// Primary Colors
$bgc-main: #EEEEEE;
$bgc-box: #ffffff;
$txt-clr: #1e2736;

$txt-clr-dark: #222831;

// Secondary Colors
$clr-blue: #79C8C7;
$clr-green: #1db160;

// Button Colors
$btn-txt: $txt-clr;
$btn-txt-dark: $txt-clr-dark;

$btn-bgc: $txt-clr;
$btn-bgc-sec: $clr-blue;

$btn-hover: $txt-clr;
$btn-hover-primary: $clr-green;
$btn-hover-sec: $clr-blue;

// Difficulty Colors
$clr-easy: #00c875;
$clr-advanced: #fdab3d;
$clr-hard: #df2f4a;

// ScrollBar colors
$sb-clr: #bfc3d2;

// Header Text Sizes
$font-size-h1: em(30px);
$font-size-h2: em(24px);
$font-size-h3: em(24px);
$font-size-h4: em(18px);
$font-size-h5: 1em;

// Breakpoints
$mobile-breakpoint: 880px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;